In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
ds=pd.read_csv('winequality-white.csv', sep=';')
ds.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [22]:
ds.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [23]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [24]:
ds.shape

(4898, 12)

In [25]:
ds.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [26]:
ds.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [27]:
y=ds['alcohol']

In [28]:
x=ds.drop(['alcohol'], axis=1)

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [30]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality
3157,6.8,0.39,0.34,7.40,0.020,38.0,133.0,0.99212,3.18,0.44,7
596,6.9,0.41,0.33,10.10,0.043,28.0,152.0,0.99680,3.20,0.52,5
4,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,6
2475,7.4,0.56,0.09,1.50,0.071,19.0,117.0,0.99496,3.22,0.53,5
2533,6.4,0.22,0.30,11.20,0.046,53.0,149.0,0.99479,3.21,0.34,5
...,...,...,...,...,...,...,...,...,...,...,...
3335,6.9,0.38,0.29,13.65,0.048,52.0,189.0,0.99784,3.00,0.60,6
1099,5.8,0.29,0.21,2.60,0.025,12.0,120.0,0.98940,3.39,0.79,7
2514,6.9,0.34,0.30,4.70,0.029,34.0,148.0,0.99165,3.36,0.49,7
3606,6.4,0.38,0.24,7.20,0.047,41.0,151.0,0.99604,3.11,0.60,5
2575,6.7,0.17,0.42,10.40,0.038,85.0,182.0,0.99628,3.04,0.44,6

In [31]:
y_train

3157    12.0
596      9.4
4        9.9
2475     9.8
2533    10.8
        ...
3335     9.5
1099    14.0
2514    12.3
3606     9.2
2575     8.9
Name: alcohol, Length: 3918, dtype: float64

In [32]:
data = {'Model Name': [], 'MAPE': [],'RMSE':[],'RMSLE':[]}
# Create DataFrame.
ds = pd.DataFrame(data)
ds

Empty DataFrame
Columns: [Model Name, MAPE, RMSE, RMSLE]
Index: []

In [36]:

model_ler = LinearRegression().fit(x_train,y_train)
pred = model_ler.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

ds1 = {'Model Name': 'Linear regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
ds= ds.append(ds1, ignore_index = True)
ds

C:\Users\admin\AppData\Local\Temp\ipykernel_11052\2986112770.py:11: RuntimeWarning: invalid value encountered in log
  rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())
C:\Users\admin\AppData\Local\Temp\ipykernel_11052\2986112770.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ds= ds.append(ds1, ignore_index = True)

          Model Name      MAPE      RMSE     RMSLE
0  Linear regression  2.860887  0.665455  0.032599

In [38]:
#svm
from  sklearn.svm import SVR
model_svr = SVR().fit(x_train,y_train)
pred = model_svr.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

ds1 = {'Model Name': 'SVM regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
ds = ds.append(ds1, ignore_index = True)
ds

C:\Users\admin\AppData\Local\Temp\ipykernel_11052\1818462399.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ds = ds.append(ds1, ignore_index = True)

          Model Name      MAPE      RMSE     RMSLE
0  Linear regression  2.860887  0.665455  0.032599
1     SVM regression  7.393765  1.033776  0.087786

In [39]:
#ridge regression
from sklearn.linear_model import Ridge
ridgeReg = Ridge(alpha=0.0005, normalize=True)
ridgeReg.fit(x_train,y_train)
pred = ridgeReg.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

ds1 = {'Model Name': 'Ridge regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
ds= ds.append(ds1, ignore_index = True)
ds

C:\Users\admin\miniconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  warnings.warn(
C:\Users\admin\AppData\Local\Temp\ipykernel_11052\2688399948.py:14: RuntimeWarning: invalid value encountered in log
  rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())
C:\Users\admin\AppData\Local\Temp\ipykernel_11052\2688399948.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ds= ds.append(ds1, ignore_index = True)

          Model Name      MAPE      RMSE     RMSLE
0  Linear regression  2.860887  0.665455  0.032599
1     SVM regression  7.393765  1.033776  0.087786
2   Ridge regression  2.864945  0.664005  0.032598

In [40]:
# lasso regression
from sklearn.linear_model import Lasso
lassoReg = Lasso(alpha=0.0005, normalize=True)
lassoReg.fit(x_train,y_train)
pred = lassoReg.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

ds1 = {'Model Name': 'Lasso regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
ds= ds.append(ds1, ignore_index = True)
ds

C:\Users\admin\miniconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\Users\admin\AppData\Local\Temp\ipykernel_11052\1719398397.py:14: RuntimeWarning: invalid value encountered in log
  rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())
C:\Users\admin\AppData\Local\Temp\ipykernel_11052\1719398397.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ds= ds.append(ds1, ignore_index = True)

          Model Name      MAPE      RMSE     RMSLE
0  Linear regression  2.860887  0.665455  0.032599
1     SVM regression  7.393765  1.033776  0.087786
2   Ridge regression  2.864945  0.664005  0.032598
3   Lasso regression  3.371088  0.666374  0.036680

In [42]:
from sklearn.tree import DecisionTreeRegressor

dtreg= DecisionTreeRegressor(max_depth=5)
dtreg.fit(x_train,y_train)
pred = dtreg.predict(x_test)

# RMSE
rmse = np.sqrt(np.mean((y_test - pred)**2))

# MAPE
mape = (np.mean(np.abs(((y_test - pred)/y_test))))*100

#RMSLE
rmsle = np.sqrt(np.square(np.log(pred + 1) - np.log(y_test + 1)).mean())

ds1 = {'Model Name': 'Decision Tree regression', 'MAPE':mape,'RMSE':rmse,'RMSLE':rmsle}
ds = ds.append(ds1, ignore_index = True)
ds

C:\Users\admin\AppData\Local\Temp\ipykernel_11052\2475228817.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ds = ds.append(ds1, ignore_index = True)

                 Model Name      MAPE      RMSE     RMSLE
0         Linear regression  2.860887  0.665455  0.032599
1            SVM regression  7.393765  1.033776  0.087786
2          Ridge regression  2.864945  0.664005  0.032598
3          Lasso regression  3.371088  0.666374  0.036680
4  Decision Tree regression  4.140265  0.562378  0.048782
5  Decision Tree regression  4.140265  0.562378  0.048782

In [43]:
print("final comparison")
ds

final comparison

                 Model Name      MAPE      RMSE     RMSLE
0         Linear regression  2.860887  0.665455  0.032599
1            SVM regression  7.393765  1.033776  0.087786
2          Ridge regression  2.864945  0.664005  0.032598
3          Lasso regression  3.371088  0.666374  0.036680
4  Decision Tree regression  4.140265  0.562378  0.048782
5  Decision Tree regression  4.140265  0.562378  0.048782